.home-edit-button,
.question-reply-button {
  z-index: 2;
  position: fixed;
  right: 48px;
  bottom: 178px;
  height: 101px;
  width: 101px;
  background-color: @mainColor;
  border-radius: 50%;
  box-shadow: 0px 0px 15px 0px rgba(118, 118, 242, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  .icon {
    width: 41px;
    height: 47px;
    img {
      width: 100%;
    }
  }
}
