.profile-item {
  height: 100vh;
  background-color: #fff;
}
.user {
  display: flex;
  align-items: center;
  padding: 64px 23px;
  border-bottom: 2px solid #eee;
  .img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    background: @mainColor;
  }
  .info {
    margin-left: 54px;
    .name {
      color: @fontColor;
      font-size: 40px;
      font-weight: bold;
    }
    .id {
      font-size: 26px;
      color: #555;
      margin-top: 23px;
    }
  }
}

.question,
.comment,
.approval,
.oppose,
.answer {
  background-color: #ffffff;
  border-bottom: 2px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 55px 24px;
  color: #333;
  font-size: 30px;
  .new {
    color: @mainColor;
    font-size: 24px;
    margin-left: auto;
  }
  .front-icon {
    padding-right: 20px;

    svg {
      margin-bottom: -5px;
      width: 40px;
      height: 40px;

      path {
        fill: #838383;
      }
    }
  }
}
